<template>
  <div>
    
  </div>
</template>

<script>
import { ref } from 'vue';
export default {
  name: "create",
  setup() {
    // Create data
    const workName = ref("");
    const workType = ref("select-workout");
    const exercises = ref([]);
    const statMsg = ref(null);
    const errMsg = ref (null);
    // Add exercise

    // Delete exercise

    // Listens for chaging of workout type input

    // Create workout

    return {workName,workType,statMsg,exercises,errMsg};
  },
};
</script>
